@font-face {
  font-family: 'utm-bebas';
  src:url("https://bizweb.dktcdn.net/100/055/103/themes/813720/assets/utm_bebas.ttf?1616734665338") format("woff"),url("https://bizweb.dktcdn.net/100/055/103/themes/813720/assets/utm_bebas.ttf?1616734665338") format("opentype"),url("https://bizweb.dktcdn.net/100/055/103/themes/813720/assets/utm_bebas.ttf?1616734665338") format("truetype");
}

@font-face {font-family: "datmt";
  src: url("https://bizweb.dktcdn.net/assets/fonts/SVN-Veneer.ttf") format("woff");
  src: url("https://bizweb.dktcdn.net/assets/fonts/SVN-Veneer.ttf") format("opentype");
  src: url("https://bizweb.dktcdn.net/assets/fonts/SVN-Veneer.ttf") format("truetype");
  }
  
  @font-face{font-family:"iCiel Cadena";
  src:url("https://bizweb.dktcdn.net/100/055/103/themes/813720/assets/iciel_cadena.ttf?1616814872403") format("woff"),
  url("https://bizweb.dktcdn.net/100/055/103/themes/813720/assets/iciel_cadena.ttf?1616814872403") format("opentype"),
  url("https://bizweb.dktcdn.net/100/055/103/themes/813720/assets/iciel_cadena.ttf?1616814872403") format("truetype");
  }