.popupfancybox-wrap,
.popupfancybox-skin,
.popupfancybox-outer,
.popupfancybox-inner,
.popupfancybox-image,
.popupfancybox-wrap iframe,
.popupfancybox-wrap object,
.popupfancybox-nav,
.popupfancybox-nav span,
.popupfancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0; 
    outline: none;
    vertical-align: top;
}

.popupfancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.popupfancybox-skin {
    position: relative;
    background: transparent!important;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.popupfancybox-opened {
    z-index: 10001;
	    width: fit-content!important;
}

    .popupfancybox-opened .popupfancybox-skin {
		padding:0px!important;
        -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
		background: transparent!important;
    }

.popupfancybox-outer, .popupfancybox-inner {
    position: relative;
}

.popupfancybox-inner {
    overflow: hidden!important;
	    width: fit-content;
	    width: auto!important;
    height: auto!important;
}

.popupfancybox-type-iframe .popupfancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.popupfancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.popupfancybox-image, .popupfancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.popupfancybox-image { 
    max-width: 100%;
    max-height: 100%;
}

#popupfancybox-loading, .popupfancybox-close, .popupfancybox-prev span, .popupfancybox-next span {
    background-image : url('https://promotionpopup.sapoapps.vn/assets/libs/fancyBox/source/fancybox_sprite.png')
}

#popupfancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

    #popupfancybox-loading div {
        width: 44px;
        height: 44px;
        background: url('fancybox_loading.gif') center center no-repeat;
    }

.popupfancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.popupfancybox-nav {
    position: absolute;
    top: 0;
    width: 45px;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('blank.gif'); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.popupfancybox-prev {
    left: 0;
}

.popupfancybox-next {
    right: 0;
}

.popupfancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: visible;
}

.popupfancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.popupfancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.popupfancybox-nav:hover span {
    visibility: visible;
}

.popupfancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.popupfancybox-lock {
    overflow: hidden !important;
    width: auto;
}

    

.popupfancybox-lock-test {
    overflow-y: hidden !important;
}

.popupfancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('fancybox_overlay.png');
}

.popupfancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.popupfancybox-lock .popupfancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.popupfancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.popupfancybox-opened .popupfancybox-title {
    visibility: visible;
}

.popupfancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

    .popupfancybox-title-float-wrap .child {
        display: inline-block;
        margin-right: -100%;
        padding: 2px 20px;
        background: transparent; /* Fallback for web browsers that doesn't support RGBa */
        background: rgba(0, 0, 0, 0.8);
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        text-shadow: 0 1px 2px #222;
        color: #FFF;
        font-weight: bold;
        line-height: 24px;
        white-space: nowrap;
    }

.popupfancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.popupfancybox-title-inside-wrap {
    padding-top: 10px;
}

.popupfancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8); 
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

    #popupfancybox-loading, .popupfancybox-close, .popupfancybox-prev span, .popupfancybox-next span {
       background-image : url('https://promotionpopup.sapoapps.vn/assets/libs/fancyBox/source/fancybox_sprite.png')
    }

        #popupfancybox-loading div {
            background-image: url('fancybox_loading@2x.gif');
            background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
        }
}

.popupfancybox-overlay .popupfancybox-outer a.popupfancybox-nav,
.popupfancybox-overlay .popupfancybox-outer a.popupfancybox-nav:active,
.popupfancybox-overlay .popupfancybox-outer a.popupfancybox-nav:focus,
.popupfancybox-overlay .popupfancybox-outer a.popupfancybox-nav:hover,
.popupfancybox-overlay .popupfancybox-outer a.popupfancybox-nav:visited {
    outline: 0 none;
}
.popupfancybox-opened {
    transform: translateZ(100px);
}

@media (max-width: 565px) {
    .popup-coupon-code, .popup-countdown, .popup-product {
        width: auto !important; 
    }
	.popupfancybox-opened {
        width: 93% !important;
		left:3%!important;
        
    }
}
@media (max-width: 414px)
{
	.popupfancybox-opened {
		width: 382px !important;
		left: 3%!important;
	}

}

@media (max-width: 411px)
{
	.popupfancybox-opened {
		width: 377px !important;
		left: 4%!important;
	} 

}

@media (max-width: 400px)
{
	.popupfancybox-opened {
		width: 362px !important;
		left: 4%!important;
	}

}


@media (max-width: 376px)
{
	.popupfancybox-opened {
		width: 344px !important;
		left: 4%!important;
	}

}


@media (max-width: 375px)
{
	.popupfancybox-opened {
		width: 320px !important;
		left: 6%!important;
	}

}

@media (max-width: 320px)
{
	.popupfancybox-opened {
		width: 281px !important;
		left: 6%!important;
	}

}

@media (max-width: 283px)
{
	.popupfancybox-opened {
		width: 240px !important;
	}
}

@font-face{
    font-family:"utm-bebas";
    src:url("https://bizweb.dktcdn.net/100/055/103/themes/813720/assets/utm_bebas.ttf?1616734665338") format("woff"),
    url("https://bizweb.dktcdn.net/100/055/103/themes/813720/assets/utm_bebas.ttf?1616734665338") format("opentype"),
    url("https://bizweb.dktcdn.net/100/055/103/themes/813720/assets/utm_bebas.ttf?1616734665338") format("truetype");
}

@font-face {
  font-family: "datmt";;
  src: url("https://bizweb.dktcdn.net/assets/fonts/SVN-Veneer.ttf") format("woff");
  src: url("https://bizweb.dktcdn.net/assets/fonts/SVN-Veneer.ttf") format("opentype");
  src: url("https://bizweb.dktcdn.net/assets/fonts/SVN-Veneer.ttf") format("truetype");
}

	@font-face{
    font-family:"iCiel Cadena";
    src:url("https://bizweb.dktcdn.net/100/055/103/themes/813720/assets/iciel_cadena.ttf?1616814872403") format("woff"),
    url("https://bizweb.dktcdn.net/100/055/103/themes/813720/assets/iciel_cadena.ttf?1616814872403") format("opentype"),
    url("https://bizweb.dktcdn.net/100/055/103/themes/813720/assets/iciel_cadena.ttf?1616814872403") format("truetype");
}

@media (max-width: 540px) {
    .popupfancybox-inner {
		width: 100%!important;
	}
}

#contact {
  margin-bottom: 0px; 
}

.popupfancybox-overlay{
	opacity:0!important;
}
.qsk-popup__box-coupon-copy.qsk-popup__box-coupon-copy--open {
    opacity: 1;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
	 position: absolute;
    top: -68%;
    left: 50%;
    width: 79%;
    line-height: 13px;
    color: #fff;
    background-color: #373737; 
}

.qsk-popup__box-coupon-copy { 
    padding: 2px 5px 3px;
    color: #fff;
    font-size: 11px;
    border-radius: 3px;
    background-color: #333;
    opacity: 0;
    -webkit-transform: translate(-50%,5px);
    transform: translate(-50%,5px);
    -webkit-transition: opacity .2s linear,-webkit-transform .25s ease-out;
    transition: opacity .2s linear,-webkit-transform .25s ease-out;
    transition: transform .25s ease-out,opacity .2s linear;
    transition: transform .25s ease-out,opacity .2s linear,-webkit-transform .25s ease-out;
} 

.popupfancybox-prev,.popupfancybox-next{
	display:none!important;
}

#tem_1 .popup-countdown .popup-container .title_2,#tem_1 .popup-countdown .popup-container .title_1,#tem_1 .popup-countdown .title p {
    text-align: center!important;
}

.popupfancybox-opened .popupfancybox-skin {
    box-shadow: none!important;
}

@media (max-width: 565px) {
    .popupfancybox-opened {
		top:18%!important;
		position: fixed!important;
	}
}

#success_popup_lead{
	    width: auto!important;
    height: auto!important;
}